modules = ["nodejs-20", "web"]
run = "node index.js"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "React Development Server"

[[workflows.workflow]]
name = "React Development Server"
author = 46368694
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
